---
import PlatinumProperties from '../components/PlatinumProperties.jsx';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/Platinum_Properties/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Platinum Properties</title>
	</head>
	<body>
		<PlatinumProperties client:load /> 
	</body>
</html>